 html {
   background: url(../img/wine3.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 body {
   background-color: transparent;
 }

 img {
   position: absolute;
   top: 70px;
   left: 25px;
   z-index: 1;
 }

 .navbar {
   background-color: black !important;
 }

 .container {
   padding-top: 550px;
 }

 .container1 {
   padding-top: 250px;
   padding-bottom: 50px;
   padding-left: 25px;
 }

 h2 {
   color: green;
 }

 p {
   color: white;
 }

 .fa {
   padding: 5px;
   font-size: 30px;
   width: 50px;
   color: red !important;
   text-align: left;
   text-decoration: none;
 }

 .facebook {
   color: blue !important;
 }

 section {
   padding-left: 500px;
 }

 .lunch {
   padding-left: 50px;
   color: red;
   font-family: comic sans MS, san-serif;
   font-size: 2.5em;
 }

 .menuheading {
   color: red;
   font-family: comic sans MS, san-serif;
   font-size: 1.5em;
   padding-left: 10px;
 }

 .lunchmenu {
   color: white;
   font-family: arial;
   font-size: .6em;
   padding-left: 10px;
 }

 .footercontact {
   padding-top: 1px;
   color: red;
   text-align: center;
 }

 .footerhome {
   padding-top: 550px;
   color: red;
   text-align: center;
 }

 .footergallery {
   padding-top: 255px;
   color: red;
   text-align: center;
 }

 .img-fluid {
   border-width: 5px;
   border-color: black;
   border-style: solid;
 }

 .contact-form {
   color: white;
   padding-top: 295px;
   padding-right: 100px;
 }

 .contact-info {
   color: red;
   padding-top: 295px;
   padding-left: 75px;
 }

 .fa-ul {
   color: white;
   padding-top: 295;
 }

 .map {
   padding-top: 295px;
   padding-right: 50px;
 }

 .contactme {
   color: red;
 }

 .phone {
   color: white;
 }

 .times {
   font-size: .8em;
 }

 .hours {
   font-size: 2em;
   color: red;
   padding-left: 65px;
 }

 .ashtons {
   float: left;
   padding-left: 350px;
   color: green;
 }

 .pic1 {
   padding-top: 230px;
   float: left;
 }

 .pic2 {
   padding-top: 550px;
 }

 h2 {
   padding-top: 250px;
   padding-left: 30px;
   color: red;
 }